{% extends "AppCoder/padre.html" %}

{% load static %} 
    
{% block title %} {% endblock %}

{% block h1 %} <h1 class="mb-5">Copa del Mundo Qatar 2022</h1> {% endblock %}

{% block body %}
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Se mueve Se mueve Se Juega Se Juega</h2>
            <p class="card-text">Mundial Qatar si querés ver más dale a More Info, no va a aparecer nada, pero dale igual</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'NoticiasFormulario' %}">Leer Mas</a></a></div>
    </div>
</div>
{% endblock %}

<!-- <img src="../../static/AppCoder/assets/img/FotoQatar.jpg"/> -->

