{% extends "AppCoder/padre.html" %}

{% load static %}

{% block title %} {% endblock %}

{% block h1 %} <h1 class="mb-5">Bienvenido a la sección Nosotros</h1> {% endblock %}
    
{% block body %}

    {% if miFormulario.errors %}
        <p> style="color": red;"> Estan mal los datos, revisar</p>
    {% endif %}

    <form action="" method="POST">{% csrf_token %}
        <table>
            {{miFormulario.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form>
    
{% endblock %}